<DOCTYPE!>
  <html>
    <body>
      <p>{{message}}</p>
    <form action="/Website">
     <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="first"<br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="last"r><br>
      <p>What was your favorite part of computer science this year?</p>
      <textarea name="message" rows="10" cols="30">Type here.</textarea>
  <input type="submit" value="Submit">
</form> 

   <a href="/login">login</a>
      <a href="/logout">logout</a>
    </body>
  </html>
